@charset "utf-8";
/* CSS 초기화 */
/* 아래 태그들만 골라서 여백을 초기화한다. 사용자가 추가, 삭제하셔도 됨.*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {   margin: 0;   padding: 0;   border: 0;   font-size: 100%;   vertical-align: baseline;}
/* html5 태그가 적용되지 않는 오래된 브라우저에서 인식할 수 있도록 블럭요소로 설정 */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {line-height: 1;}
/*줄간격 100%*/
ol, ul, li {list-style: none;}
/*목록앞 기호를 안나오게 한다.*/
blockquote, q {quotes: none;}
/*인용문 기호 안나오게 한다.*/
blockquote:before, blockquote:after,q:before, q:after {content: '';   content: none;}
/*인용문 앞, 뒤똑에 콘텐츠 내용 빈공백 삽입*/
table {border-collapse: collapse;   border-spacing: 0;}
/*테이블 태그 작성시 셀과 셀 사이 여백을 없앰.*/
a{
    color: #000;
    text-decoration: none;
}


@font-face {
    font-family: montserrat-regular;
    src: url('./font/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: montserrat-medium;
    src: url('./font/Montserrat-Medium.ttf') format('ttf');
}


@font-face {
    font-family: montserrat-semibolditalic;
    src: url('./font/Montserrat-SemiBoldItalic.ttf') format('ttf');
}



/* index */

:root {--point: #C8F31D;}

.index .se01 {
    width:100%;
    margin: 0 auto;
}

.index .se01 .text-box {
    max-width: 1095px;
    margin:0 auto;
    position: relative;
    margin-top:174px;
}

.index .se01 .text-box .circle {
    color:var(--point);
    font-family: montserrat-semibolditalic;
    padding:0px 0px 5px 20px;
    font-size:32px;
}

.index .se01 .text-box .circle::after {
    content: '';
    display: inline-block;
    width: 24px;
    height:24px;
    border-radius: 50%;
    background-color:var(--point);
    margin-left:2px;
}

.index .se01 .text-box h1 {
    font-family:  montserrat-medium;
    font-weight: 600;
    color:#fff; 
    font-size:150px;
    text-align: center;
}

.index .se01 .text-box .scroll {
    width: 100%;
    margin:0 auto;
    margin-top:80px;
    box-sizing: inline-block;
    position: relative;
    z-index: 1;
}

.index .se01 .text-box .scroll p {
    font-family: montserrat-regular;
    font-weight: 100;
    color:#fff;
    text-align: center;
}


.index .se01 .text-box .scroll .triangle {
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-top: 20px solid var(--point);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    margin: 0 auto;
}


/* .lalala{width: 100%;height: 500px;background: #181616;} */
.waves {transform: rotate(180deg); position:absolute; width: 100%; height:50vh; margin-bottom:-7px;min-height:100px; max-height:150px; } 
/* Animation */
.parallax > use { animation: move-forever 5s cubic-bezier(.55,.5,.45,.5) infinite; } 

@keyframes move-forever { 
    0% { transform: translate3d(-90px,0,0); } 
    100% { transform: translate3d(85px,0,0); } 
}
/*Shrinking for mobile*/
@media (max-width: 768px){
    .waves { height:40px; min-height:40px; } 
}


.wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top:500px;
  }

/* index -end-  */